.green{
    color: green;
    font-size: 3rem;
    margin: 3rem;
    padding: 3rem;
}

.red{
    color: red;
    font-size: 3rem;
    margin: 3rem;
    padding: 3rem;
}

.purple{
    color: rgb(126, 0, 138);
    font-size: 5rem;
    margin: 2rem;
    padding: 2rem;
}